/*GENERAL CSS*/
#main{
    background-color: #eeeeee;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-family: 'Lato';
    font-size:medium;
}
#title{
    width: 100px;
    background-color: blue;
    display: block;
    text-align: center;
    font-family: 'Lato';
    font-size: 1.5vw;
}
#img-div{
    text-align: center;
    background-color:white;
    font-family: 'Lato';
    font-size: medium;
}

#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 75%;
}
#img-caption{
     margin: 2% 5% 5% 5%;
     text-align: center;
     font-family: 'Lato';
}

#tribute-info{
    background-color: #eeeeee;
    max-width: 600px;
    font-family: 'Lato';
    font-size: medium;

    margin-top: 4vmin;
    color: hsl(0, 0%, 31%)
    }

#tribute-link
{
    text-align: center;
    font-family: 'Lato';
    color: #74638F;
}
#tribute-link:hover
{
    text-align: center;
    font-family: 'Lato';
    cursor: pointer;
}

footer{
    text-align: center;
    font-family: 'Lato';
    font-size: 4vmin;
    margin: 3vw 3vw 3vw 3vw;
}
/*RESPONSIVE SECTION*/
@media screen and (max-width:600px){
    footer{
        font-size:3.5vmin;
    }
    #tribute-link
    {
        font-size: 3.5vmin;
    }
}

@media screen and (min-width:600px){
    footer{
        font-size:2.5vmax;
    }
    #tribute-link
    {
        font-size: 2.5vmax;
    }
}
